body{background-color: #E9EDC9;
}

h1 {
    color: green;
}

h2 {
    color: green;
}
h3{
    color:green
}

hr{
   border-style: none;
   border-top: dotted;
   border-color: green;
   border-width: 5px;
   width: 40px;
}